.deleteModal {
  background-color: var(--white);
  padding: 50px;
  text-align: center;
}
.deleteModal h1 {
  font-size: 1.8rem;
}

.deleteModalBtns {
  display: flex;
  column-gap: 20px;
}
.deleteBtn {
  width: 100%;
  margin-top: 30px;
  font-size: 1.1rem;
  padding: 18px 0;
  border: none;
  outline: none;
}
.deleteModalAcceptBtn {
  background-color: var(--blue);
  color: var(--white);
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.deleteModalRejectBtn {
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.detailsModalComment {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
  margin: 13px 0 0 0;
}
