.productsTable {
  margin-top: 30px;
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
}
.productsTableHeadingTr {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0 70px 0 460px;
}
.productsTableTr {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 30px;
}
.productsTable th {
  padding: 20px;
}
.productsTable td {
  padding: 20px;
  display: flex;
  align-items: center;
}

.productsTableImg {
  width: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.productsTableBtn {
  padding: 8px 20px;
  font-size: 0.9rem;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--blue);
  margin-right: 20px;
  cursor: pointer;
}

/* Start Edit Modals Childs Styles */
.editProductsFormGroup {
  margin-top: 15px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  background-color: #f4f4f4;
  /* padding: 0 20px; */
  border-radius: 10px;
}
.editProductInput {
  outline: none;
  border: none;
  background-color: unset;
  font-size: 0.9rem;
  width: 100%;
  padding: 8px 10px;
}
/* End Edit Modals Childs Styles */
